[submodule "windows-dependencies"]
	path = windows-dependencies
	url = https://github.com/jmdaweb/TWBlue_deps_windows.git
[submodule "src/twython"]
	path = src/twython
	url = https://github.com/ryanmcgrath/twython
